<div>   <!-- Login Form  using same style.css with SignUp form -->
<div>
    <form class="signUpForm">     
        <fieldset>
            <legend>Sign-in</legend><br />
            <label for="username" class="signUpLabel">Username:   </label>
            <input type="text" id="username" name="username" class="signUpInput" /><br />
            <label for="password" class="signUpLabel">Password:   </label>
            <input type="password" id="password" name="password" class="signUpInput" /><br /><br />
            <button type="button" id="btnLogin" class="signUpButton">Sign In</button><br /><br />
        </fieldset>
    </form>            
</div>    

<div id="pnlFrgtPass">
   <form class="signUpForm">
       <fieldset> 
            <legend class="passText">Forgot password?</legend>
            <p class="passText">Please enter your e-mail address as listed in your account and then click SUBMIT. 
            <span class="underlineText">You will receive your username and
            <span class="boldText">new password</span> 
            in your mailbox within a few minutes.</span><br />
            Once you sign-in with the new password, you can change
            it to your own through the <span class="boldText">My Profile</span> page.<br /></p>
   
   
        <label for="myemail" class="signUpLabel">Email: </label>   
        <input type="text" id="myemail" class="signUpInput"/>
        <button type="button" id="btnFrgtPass" class="signUpButton">Reset Password</button>
        </fieldset>  
   </form>
</div>

</div><!-- /content -->

