<div>
	<span class="pageTitle">Create Thumbnail</span> <br /><br />
    <div id="resImagePreview" />
    <div id="resImageCropResize">
        <input type="radio" value="0" name="cropResize" checked /> Crop
        <input type="radio" value="1" name="cropResize" /> Resize     
    </div>    
</div>
<div class="clearfix" />
<div id="resImageBox">    
</div>
<div id="resImgBtns">
    <!--<input type="button" value="RESET" />-->
    <input type="button" value="SAVE" class="btnResImg" id="btnSaveResImg" disabled />
    <input type="button" value="CLOSE" class="btnResImg" id="btnCloseResImage" />    
</div>

                                

