<div>       
    <div >
        <h2 id="PrivilegeHeader">Privilege Page</h2>
        <div id="azListDiv"> 
            <br /><br />
            <ul>
                <li class="display-none"><button type='button' id="lnameA" class="btnLetter" onclick="myG.getUserLname(event,'a');">  A </button></li> 
                <li class="display-none"><button type='button' id="lnameB" class="btnLetter" onclick="myG.getUserLname(event,'b');">  B </button></li> 
                <li class="display-none"><button type='button' id="lnameC" class="btnLetter" onclick="myG.getUserLname(event,'c');">  C </button></li> 
                <li class="display-none"><button type='button' id="lnameD" class="btnLetter" onclick="myG.getUserLname(event,'d');">  D </button></li> 
                <li class="display-none"><button type='button' id="lnameE" class="btnLetter" onclick="myG.getUserLname(event,'e');">  E </button></li> 
                <li class="display-none"><button type='button' id="lnameF" class="btnLetter" onclick="myG.getUserLname(event,'f');">  F </button></li> 
                <li class="display-none"><button type='button' id="lnameG" class="btnLetter" onclick="myG.getUserLname(event,'g');">  G </button></li> 
                <li class="display-none"><button type='button' id="lnameH" class="btnLetter" onclick="myG.getUserLname(event,'h');">  H </button></li> 
                <li class="display-none"><button type='button' id="lnameI" class="btnLetter" onclick="myG.getUserLname(event,'i');">  I </button></li> 
                <li class="display-none"><button type='button' id="lnameJ" class="btnLetter" onclick="myG.getUserLname(event,'j');">  J </button></li> 
                <li class="display-none"><button type='button' id="lnameK" class="btnLetter" onclick="myG.getUserLname(event,'k');">  K </button></li> 
                <li class="display-none"><button type='button' id="lnameL" class="btnLetter" onclick="myG.getUserLname(event,'l');">  L </button></li> 
                <li class="display-none"><button type='button' id="lnameM" class="btnLetter" onclick="myG.getUserLname(event,'m');">  M </button></li> 
                <li class="display-none"><button type='button' id="lnameN" class="btnLetter" onclick="myG.getUserLname(event,'n');">  N </button></li> 
                <li class="display-none"><button type='button' id="lnameO" class="btnLetter" onclick="myG.getUserLname(event,'o');">  O </button></li> 
                <li class="display-none"><button type='button' id="lnameP" class="btnLetter" onclick="myG.getUserLname(event,'p');">  P </button></li> 
                <li class="display-none"><button type='button' id="lnameQ" class="btnLetter" onclick="myG.getUserLname(event,'q');">  Q </button></li> 
                <li class="display-none"><button type='button' id="lnameR" class="btnLetter" onclick="myG.getUserLname(event,'r');">  R </button></li> 
                <li class="display-none"><button type='button' id="lnameS" class="btnLetter" onclick="myG.getUserLname(event,'s');">  S </button></li> 
                <li class="display-none"><button type='button' id="lnameT" class="btnLetter" onclick="myG.getUserLname(event,'t');">  T </button></li> 
                <li class="display-none"><button type='button' id="lnameU" class="btnLetter" onclick="myG.getUserLname(event,'u');">  U </button></li> 
                <li class="display-none"><button type='button' id="lnameV" class="btnLetter" onclick="myG.getUserLname(event,'v');">  V </button></li> 
                <li class="display-none"><button type='button' id="lnameW" class="btnLetter" onclick="myG.getUserLname(event,'w');">  W </button></li> 
                <li class="display-none"><button type='button' id="lnameX" class="btnLetter" onclick="myG.getUserLname(event,'x');">  X </button></li> 
                <li class="display-none"><button type='button' id="lnameY" class="btnLetter" onclick="myG.getUserLname(event,'y');">  Y </button></li> 
                <li class="display-none"><button type='button' id="lnameZ" class="btnLetter" onclick="myG.getUserLname(event,'z');">  Z </button></li> 
            </ul> 
        </div> 
        <div id="pnlUsers">
            <h4>List of Users </h4>
            <div id="displayUsersDiv"></div>
        </div>
    </div>
    
</div>
    
   
