<div>
    <div>
       <span id="addClassBackBtnX">x</span>
       <div class="pageTitle">Add Class</div>
       <br />
       <form class="selectClassForm">
           <label for="semester" class="labelSelect">Semester</label> <br />  
           <select name="semester" id="semester" class="selectClasses">
                    <option value=""> Select </option>
                    <option value="Fall">Fall</option>
                    <option value="Spring">Spring</option>
           </select><br />
           <label for="year" class="labelSelect">Year</label><br />
           <select name="year" id="year" class="selectClasses">
                    <option value=""> Select </option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
           </select>
           
           <br />
           
           <label for="teachername" class="labelSelect">Teacher Name</label><br />
           <select name='teachername' id="teachername" class="selectClasses"/>
                    
           </select>
           <br />
           <br />
           <label for="class_code" class="labelClasses">Course Title</label><br />
           <input type='text' id="class_code" class="inputClass"/>
           <br />
           
           <label for="class_section" class="labelClasses">Section</label><br />
           <input type='text' id="class_section" class="inputClass"/>
           <br />
           
           <label for="schedule" class="labelClasses">Schedule</label><br />
           <input type='text' id="schedule" class="inputClass"/>
           
       <br />
           <button type="button" id="btnBackClasses" class="userButton" onclick="" >Cancel</button>
           <button type="reset" id="btnClear"  class="userButton" onclick="" >Clear Form</button>
           <button type="button" id="btnSaveClass"  class="userButton" onclick="" >Save</button><br /><br />
       </form>     
    </div>
</div>