<div>
    <br />
       <!-- <div class="pageTitle">Classes Page</div> -->
       <div id="classesDiv">
       	<!--<button type="button" id="btnBackMenu" class="userButton" onclick="" >Back to Main Menu</button>-->
       	<button type="button" id="btnAddClass" class="userButton" onclick="" >Add a Class</button>
      	 <br /><br />
      	 <form id="classesForm">
           <p id="selectClassForm">

           </p>
           <br />
			<div id="authorizationBlock">
            	<fieldset id="studentAuthorizationBox"> 
            	<span class="pageTitle" style="position:absolute; left:10px;"> Students To Authorize </span> <span class="pageTitle" style="position:absolute; right:10px;"> Students In This Class </span> 
           		<p id="selectStudents">
           
			
         	   </p>
           		</fieldset>
      	 		<button type="button" id="btnSaveAuthorization" class="userButton" onclick="" >Save</button>
            </div>
         </form> 
         
   
 		</div>

</div>