#pnlClasses {
    width:  1200px;
    height:  100%;
    background: none;
    z-index: 10;
	margin:auto;
	padding-left: 20px;
	padding-top: 10px;
}

#pnlAddClass {
	position:absolute;
	width:  600px;
	height: 590px;
	background-color: #fff;
	z-index: 10;
	padding: 20px;
	padding-top: 10px;
	box-shadow: 0 0 3px #777;
	box-shadow: 0 0 2px #777 inset;
	top:25px !important;
	border: 7px solid #6277CB;	
	border-radius: 10px 10px 10px 10px;
}

#classesDiv {
	text-align:center;
}

#classesForm {
	box-shadow: 0 0 3px #777;
	text-align:center;
	padding: 15px;
	padding-top:25px;
	width:700px;
	margin:auto;
	background-color: #fff;
	background-image: url(../images/staple.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.alignCenter {
    text-align: center;
}

.inputClass {
    width: 350px;
	margin-left:25px;
}

#selectClassForm {
	text-align:center;
}

.userButton {
    margin-left:65px;
	margin-top: 30px;  
    padding: 10px;
    cursor: pointer;
	font-family: Arial,sans-serif;
	font-size: 15px;
	text-align: center;
	width: 200px;
	background: none repeat scroll 0 0 #40529A;
	border: 5px solid #6277cb;
	color: #FFFFFF;
	box-shadow: 0 0 2px #777;
	border-radius: 10px 10px 10px 10px;
}

#btnAddClass {
	margin:auto;
	margin-left:500px;
	width: 200px;
	margin-top: 0px;
}

#btnAddStudents {
	margin:auto;
	width: 200px;
	margin-top: 0px;
}

#btnAddRemove {
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

#btnSaveClass {
	margin-left:190px;
}

.userButton:hover {
	box-shadow: 0 0 5px #444;
}

#leftNames {
	width: 250px;
	overflow: visible;
	margin-top:40px;
	margin-left:10px;
}

#rightNames {
    width: 250px;
    overflow: visible;
	margin-top:40px;
	margin-left:10px;
}

#btnAddRemove input[type='button'] {
	background:#40529a;
	border-radius: 10px 10px 10px 10px;
	border:none;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	background: #41549b;
	cursor: pointer;
	color: white;
	margin-top: 5px;
	margin-left: 5px;
	padding: 5px;
}

#btnAddRemove input[type='button']:hover {
	box-shadow: 0 0 3px #444;
}

#list_Classes {
	margin-left: 50px;
}

.labelClasses {
    clear: both;
    margin-left: 25px;
    /*font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
	color: #344F61;	*/
    color: #6277CB;
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 0 0 2px #7E93E7;	
}

.labelSelect {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
	width:600px;
	color: #344F61;	
}

.selectClasses {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
	height:20px;
	margin: auto;
	padding:0px;
	margin-left:25px;
}

.selectClassForm{
	line-height: 30px;
}

#addClassBackBtnX {
	background: none repeat scroll 0 0 #444444;
    border-radius: 20px 20px 20px 20px;
    color: white;
    cursor: pointer;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 17px;
    margin: 5px;
    text-align: center;
    width: 20px;
}

#addClassBackBtnX:hover {
	box-shadow: 0 0 2px #444;
}

#addClassTitle {
	font-size:20px;
	color:#444;
}

#studentAuthorizationBox{
	margin:none;
	padding-top:10px;
	padding:none;
	position:relative;
	min-height:150px;
	border:none;
	background:#f6f8ff;
}

#btnSaveAuthorization {
	margin: auto;
	margin-top:15px;
}