<span id="itemPageBackBtnX">x</span>
<br /><br />
<div>       
    <div id="itemPageLeft">

        <ul class="itemPageLeft">
            <div id="topItems">
            <li><span id="itemPageTitle"></span><br /></li>
            <!--<li><span id="itemPageDesc">Transcript: </span><br /></li>-->
            <li><span id="itemPageName"></span><span id="itemPageAge">age goes here</span></li>
            <!--<li><span id="itemPageAge">age goes here</span></li>-->
            </div>
            <div id="transcript"> Transcript </div>
            <div id="btmItems">
            <li>Central Focus: <span id="itemPageCF"></span><br /></li>
            <li>Other Features: <span id="itemPageSubF"></span><br /></li>
            <li>Grade Level:<span id="itemPageGrade"></span><br /></li>
            </div>
        </ul>
        
        <div id="itemPageButtons">
        <form>
            <button type="button" id="itemPagePDFBtn"  class="itemPageButton" onclick="" >Download as PDF</button>
            <button type="button" id="itemPageBackBtn" class="itemPageButton" onclick="" >Back to Search Results</button>
            <!--<button type="button" id="itemPageHomeBtn" class="itemPageButton">Home</button>-->
        </form>
    	</div>
    
    </div>
    <div id="itemPicDiv">
        <p class="itemPagePic"><img id="itemPageImage" src="" alt="" /></p>
    </div>    
</div>
    
<div id="pnlImagePage">
    <!--
    <p id="imageContainer" class="itemPagePic"><img id="imageViewPrint" src="" alt="" /><br /><br /></p>
    <ul class="imageButtons">
        <li><button type="button" id="printImageBtn" class="itemPageButton">Print</button></li>
        <li><button type="button" id="backBtn" class="itemPageButton">Back</button></li>
    </ul>
    <br /><br /><br />
    -->
    <div id="classGroupDiv">
        <label for="teachername" class="labelSelect">Class: </label>
        <select name='classByTeacher' id='classByTeacher' class='selectClasses'/>
            
        </select>
    </div>
    <br /><br /><br />
    <span class="disHeading">Discussion</span>
    <br />

    <div id="discussionThread">
        
        <button id="btnAddTopic">Add a new topic</button>
        
        
        <div id="itemDiscThread">
            <table id="tblDiscussion">
               
            </table>
        </div>
    </div>
</div>   
