<!DOCTYPE html>
<html lang=utf-8 >
<head>
    <title>{:=PAGE_TITLE:}</title>
	<meta charset=utf-8 />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="author" content="David Kim david.qwk@gmail.com" />
    <meta name="keywords" content="timeline tool, online timeline tool, Create Your Own Timeline, CYOTL, UCT, User Created Timeline" />
    <meta name="description" content="Amazon Project" />              
    <meta name="robots" content="all" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />        
</head>




