<!--<link href="{:=iD_ROOT_R.JS_PATH:}/jQuery/themes/base/ui.all.css" type="text/css" rel="stylesheet"  media="screen"/>-->
<link href="{:=iD_ROOT_R.JS_PATH:}/jQuery/themes/base/jquery-ui-1.8.9.custom.css" type="text/css" rel="stylesheet"  media="screen"/>
<link href="{:=iD_ROOT_R.CSS_PATH:}/iDJS.ui.css" type="text/css" rel="stylesheet" media="screen" />
<link type="text/css" rel="stylesheet" media="all" href="{:=LAYOUT_ROOT.'/'.SITE_SKIN:}/css/style.css" id="mainStyleSheet" />
<link href="{:=MODULE_ROOT.'/'.CURMODULE.'/view/skin/'.CURMODULE_SKIN:}/css/style.css" type="text/css" rel="stylesheet"  media="screen"/>
<style type="text/css" title="cssHolder"></style>
