<div>
    <div >
    	<br />
       <span class="pageTitle">My Profile Page</span>
       <br /><br />
       <form class="profileForm">
           <span>
           <div id="uname_block">
           <label class="labelUser">User Name</label><br />
           	<span id="prof_uname"></span>
            </div>
            </span>
           
           <br /><br />
           <span>
           <label for="prof_fname" class="labelUser">First Name</label>
           <input type='text' id="prof_fname" class="inputUser"/>
           </span><br /><br />
           <span>
           <label for="prof_lname" class="labelUser">Last Name</label>
           <input type='text' id="prof_lname" class="inputUser"/>
           </span>
           <br /><br />
           <span>
           <label for="prof_email" class="labelUser">Email</label>
           <input type='text' id="prof_email" class="inputUser"/>
           </span>
           <br /><br />
           <span>
           <label for="prof_password" class="labelUser">Password</label>
           <input type='password' id="prof_password" class="inputUser"/>
           </span>
           <br /><br />
           <span>
           <label for="prof_confirm" class="labelUser">Re-enter Password</label>
           <input type='password' id="prof_confirm" class="inputUser"/>
           </span>
           <br /><br />
           <p>
 
           </p>
           <button type="button" id="btnBackMenu" class="userButton" >Back to Main Menu</button><br />
           <button type="button" id="btnSaveProfile"  class="userButton">Save</button><br /><br />
       </form>     
    </div>

</div>