    <div> <!-- search result content -->
        <div>
           <ul class="searchResultHeader">
               <li>Items</li>
               <li id="itemShown"> </li>
               <li>Shown of</li>
               <li id="resultShown"> </li>
               <li>Results</li>
           </ul>
        </div>
        <div>
            <ul class="searchResultList">
                <li><table class="itemTable">
                        <tr><td rowspan="4"><a href=""><img src="./modules/iSearchResult/view/skin/default/css/01_RandomDay.jpg" alt="Random Day" id="thumbItem1" class="thumbItem" /></a></td>
                            <td><a href="" id="itemTitle1" class="itemTitle">Title: </a></td></tr>
                        <tr><td id="gradeLevel1" class="gradeLevel"></td></tr>
                        <tr><td id="centralFeature1" class="centralFeature"></td></tr>
                        <tr><td id="addlFeature1" class="addlFeature"></td></tr>
                    </table>
                </li>
                <li>
                    <table class="itemTable">
                        <tr><td rowspan="4"><a href=""><img src="./modules/iSearchResult/view/skin/default/css/02_WeWon.jpg" alt="We won!" id="thumbItem2" class="thumbItem" /></a></td>
                            <td><a href="" id="itemTitle2" class="itemTitle">Title: </a></td></tr>
                        <tr><td id="gradeLevel2" class="gradeLevel"></td></tr>
                        <tr><td id="centralFeature2" class="centralFeature"></td></tr>
                        <tr><td id="addlFeature2" class="addlFeature"></td></tr>
                    </table>
                </li>
                <li>
                    <table class="itemTable">
                        <tr><td rowspan="4"><a href=""><img src="./modules/iSearchResult/view/skin/default/css/03_WarmSunnyDay.jpg" alt="On a warm sunny day" id="thumbItem3" class="thumbItem" /></a></td>
                            <td><a href="" id="itemTitle3" class="itemTitle"></a>Title: </td></tr>
                        <tr><td id="gradeLevel3" class="gradeLevel"></td></tr>
                        <tr><td id="centralFeature3" class="centralFeature"></td></tr>
                        <tr><td id="addlFeature3" class="addlFeature"></td></tr>
                    </table>
                </li>
                <li>
                    <table class="itemTable">
                        <tr><td rowspan="4"><a href=""><img src="./modules/iSearchResult/view/skin/default/css/04_Wham.jpg" alt="Wham!" id="thumbItem4" class="thumbItem" /></a></td>
                            <td><a href="" id="itemTitle4" class="itemTitle"></a>Title: </td></tr>
                        <tr><td id="gradeLevel4" class="gradeLevel"></td></tr>
                        <tr><td id="centralFeature4" class="centralFeature"></td></tr>
                        <tr><td id="addlFeature4" class="addlFeature"></td></tr>
                    </table>
                </li>
                <li>
                    <table class="itemTable">
                        <tr><td rowspan="4"><a href=""><img src="./modules/iSearchResult/view/skin/default/css/05_LetterlikeForms.jpg" alt="Letter like Forms"  id="thumbItem5" class="thumbItem" /></a></td>
                            <td><a href="" id="itemTitle5" class="itemTitle"></a>Title: </td></tr>
                        <tr><td id="gradeLevel5" class="gradeLevel"></td></tr>
                        <tr><td id="centralFeature5" class="centralFeature"></td></tr>
                        <tr><td id="addlFeature5" class="addlFeature"></td></tr>
                    </table>
                </li>
            </ul>

        </div>


    </div> 
